.button,
button {
  width: 100%;
  transition: all 0.3s ease;
  border: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;

  + .button,
  + button {
    margin-top: 25px;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 7px -4px $box-shadow-color;
  }
  &.start {
    width: 150px;
    background-color: $green;
  }
  &.disabled {
    background-color: $gray;
  }
  &.help {
    background-color: $blue;
    margin-top: 0;
    width: 50px;
  }
}
.disabled {
  background-color: $gray;
  pointer-events: none;
}

#buttons-container2D {
  display: flex;
  justify-content: space-between;
}
#another-maps {
  background-color: $path-color;
}
#vr-creator {
  background-color: $additional-color;
  margin-top: 25px;
}
#help {
  background-color: $start-color;
}
.creator-title {
  background-color: $selected-path-color;
}
.login {
  background-color: $finish-color;
}
#apply:hover,
.creator-title:hover,
#grid-settings li:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 7px -4px $box-shadow-color;
}

.close-btn {
  display: block;
  width: 45px;
  height: 45px;
  position: fixed;
  left: $padding-width;
  top: $padding-width;
  z-index: 5;
  background-color: rgb(253, 41, 41);
  cursor: pointer;
  border-radius: 0;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px -4px #727272;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
  }
  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}