@import "colors";

// atoms
@import "atoms/button";
@import "atoms/input";
@import "atoms/collapsible";
@import "molecules/popover";

// molecules
@import "molecules/modal";

/* === ANIMATION === */
@keyframes backgroundRotation {
  from {
    transform: scale3d(3,3,1) rotateZ(0deg);
  }
  to {
    transform: scale3D(3,3,1) rotateZ(360deg);
  }
}
* {
  font-family: 'arial', sans-serif;
}
#labyrinth-app {
  height: 100vh;
}
body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 16%, rgba(36,9,121,1) 56%, rgba(161,59,255,1) 100%);
}
.aframe-inspector-opened .editor {
  display: none !important;
}
.heading {
  color: white;
  margin-top: 15px;
}
h1, h3 {
  text-align: center;
  margin: 0;
}
h3 {
  color: rgb(253, 253, 253);
  margin-bottom: 20px;
}
.editor-body {
  overflow: auto;
  height: auto;
  min-height: 280px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
  background-color: white;
}
.map-preview > div {
  pointer-events: none;
}
.map-preview > p {
  width: 100%;
}
.creator-name {
  background-color: $selected-path-color;
  margin-top: 0;
  width: 100%;
}
.hiscore-box {
  background-color: $finish-color;
  margin-top: 10px;
  width: 100%;
}
.hiscore-box:before {
  content: 'best score';
  display: block;
  padding: 5px;
  color: white;
  text-align: center;
  background-color: $start-color;
}
.hiscore-box > p {
  margin: 0;
  border-bottom: 1px solid #68a4ff;
}
.creator-name,
.hi-score-owner,
.hi-score,
.hi-score-date {
  color: white;
  padding: 5px;
  font-size: 12px;
}
.hi-score-date {
  border-bottom: 0 !important;
}
.creator-name > span,
.hi-score-owner > span,
.hi-score > span,
.hi-score-date > span {
  font-weight: bold;
  font-size: 14px;
}
.hi-score {
  padding: 5px;
  color: white;
  margin: 0;
}
#hiscore-owner {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.299);
}
#hiscore-owner > label {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
#hiscore-owner > input {
  border-radius: 5px;
}
#hiscore-owner > h1 {
 color: rgb(85, 255, 133);
 margin-bottom: 15px;
}
#hiscore-owner > button {
  background-color: rgb(14, 126, 246);
}
.creator-content,
.login-form {
  background-color: rgba(47, 47, 47, 0.56);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
#creator-place {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
  border-radius: 10px;
  margin-top: 15px;
}
#settings-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.313);
  padding: 25px;
  width: 200px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
  border-radius: 5px;
}
#settings-place label {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}
#settings-place:not(.hidden) + #creator-place {
  display: none;
}
.today {
  margin: 0;
  padding:10px;
  background-color: #4d4d4d;
  color: $selected-path-color;
  font-weight: 100;
  letter-spacing: 1px;
}
.hidden {
  display: none !important;
}
body .a-enter-vr {
  position: fixed;
}
main {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  .editor {
    margin: 0 10px;
    transition: all 0.5s ease;
    .editor-body {
      border-radius: 10px;
    }
  }
  #render2D {
    margin: 0 10px;
    text-align: center;
    transition: all 0.5s ease;
  }
}
.blury {
  filter: blur(5px);
}
.path {
  background-color: $path-color;
  display: block;
  width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  transform: scale(0.7);
  box-shadow: 2px 2px 6px -1px #3333338c;
  transition: all 0.3s ease;
  border-radius: 10%;
}
.path:hover {
  background-color: $path-hover-color;
  transform: scale(0.9);
}
.path.selected {
  background-color: $selected-path-color;
  transform: scale(0.9);
  box-shadow: 2px 4px 7px -2px #33333357;
}
.path.start-selected {
  background-color: $start-color !important;
  transform: scale(0.9);
  box-shadow: 2px 4px 7px -2px #33333357;
}
.path.disabled {
  background-color: #333333;
  pointer-events: none;
  color: white;
}
.path.to-use {
  background-color: $choosable-option-color;
}
.path.finish {
  background-color: $finish-color;
  pointer-events: none;
  color: white;
}

.apply-error {
  color: white;
  background-color: rgba(221, 51, 51, 0.755);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 12px;
  padding: 10px;
  margin: 0;
}

label {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  display: block;
  text-align: center;
  outline: none;
}
label {
  padding: 0;
  font-size: 12px;
  min-width: 100%;
}
#accept-settings {
  background-color: $finish-color;
  width: 200px;
}
.apply-block {
  position: fixed;
  bottom: 15px;
  left: 15px;
}
#apply {
  background-color: $selected-path-color;
  transition: transform 0.3s ease;
  margin: 25px 0;
  width: 150px;
}
.panel-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox {
  padding: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    transition: all 0.3s ease;
  }
}

#login {
  color: $selected-path-color;
  background-color: white;
}

.checkbox.checked:before {
  background-color: $selected-path-color;
}
#grid-settings {
  display: flex;
  padding: 0;
  justify-content: space-around;
  font-size: 12px;
}
#grid-settings li {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: $path-color;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hover-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 14px;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  #loadedMaps {
    display: block;
    padding-left: 0;
    padding-top: 70px;
    height: calc(100% - 60px);
  }
  #loadedMaps > div {
    margin: auto;
  }
  #loadedMaps .map-preview {
    margin-bottom: 20px;
    box-shadow: 0 3px 7px -4px $box-shadow-color;
  }
  #loadedMaps .map-preview p {
    text-align: center;
  }
}